name: Deploy to docker host

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
      tag:
        required: false
        type: string
        default: ${{ github.sha }}
      host-ip:
        required: true
        type: string
      host-port:
        required: false
        type: number
        default: 22
      ssh-user:
        required: false
        type: string
        default: "github"
      docker-compose-dir:
        required: true
        type: string
      tailscale-server:
        required: false
        type: string
        default: "controlplane.tailscale.com"
      tailscale-tags:
        required: false
        type: string
        default: "tag:ci"
    secrets:
      ts-auth-key:
        required: true
      ssh-private-key:
        required: true
jobs:
  docker-compose-via-tailscale:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      DEPLOY_HOST: "${{ inputs.service }}.service.instacom"
    steps:
      - name: Set short variables
        run: |
          echo "GITHUB_SHA_SHORT=`git rev-parse --short ${{ github.sha }}`" >> $GITHUB_ENV
          echo "GITHUB_BRANCH_SHORT=`git branch --show-current | sed 's/\//_/g' | tr -d ' ' | cut -c 1-10`" >> $GITHUB_ENV
      - name: Connect to Tailnet
        uses: tailscale/github-action@v3
        with:
          use-cache: "true"
          authkey: ${{ secrets.ts-auth-key }}
          # tags: ${{.inputs.tailscale-tags }}
          args: "--login-server https://${{ inputs.tailscale-server }} --hostname=github-runner-${{ env.GITHUB_BRANCH_SHORT }}-${{ github.run_id }}"
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.ssh-private-key }}
          name: instacom_github
          known_hosts: i-will-change-shortly
          config: |
            Host ${{ env.DEPLOY_HOST }}
              Port ${{ inputs.host-port }}
              HostName ${{ inputs.host-ip }}
              User ${{ inputs.ssh-user }}
              IdentityFile ~/.ssh/instacom_github
      - name: Overwrite known hosts of ${{ env.DEPLOY_HOST }}
        run: ssh-keyscan -p ${{ inputs.host-port }} ${{ inputs.host-ip }} > ~/.ssh/known_hosts
      - name: Deploy ${{ inputs.service }} with docker-compose
        run: ssh ${{ env.DEPLOY_HOST }} "make -C ${{ inputs.docker-compose-dir }} deploy-service-tag service=${{ inputs.service }} tag=${{ inputs.tag }}"
