name: Deploy to docker host

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
      tag:
        required: false
        type: string
        default: ${{ github.sha }}
      deploy-host:
        required: false
        type: string
        default: "${{ inputs.service }}.instacom"
      deploy-host-ip:
        required: true
        type: string
      deploy-host-port:
        required: true
        type: number
      deploy-user:
        required: false
        type: string
        default: "github-actions"
      deploy-dir:
        required: false
        type: string
        default: "/deploy/instacom"
    secrets:
      deploy-ssh-private-key:
        required: true
jobs:
  docker-compose:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure Host SSH
        uses: shimataro/ssh-key-action@v2
        with:
          name: instacom_github
          known_hosts: replace-me
          config: |
            Host ${{ inputs.deploy-host }}
              HostName ${{ inputs.deploy-host-ip }}
              User ${{ inputs.deploy-user }}
              Port ${{ inputs.deploy-host-port }}
              IdentityFile ~/.ssh/instacom_github
              ForwardAgent yes
          key: ${{ secrets.deploy-ssh-private-key }}
      - name: Overwrite known hosts of ${{ inputs.deploy-host }}
        run: ssh-keyscan -p ${{inputs.deploy-host-port}} ${{ inputs.deploy-host-ip }} > ~/.ssh/known_hosts
      - name: Deploy ${{ inputs.service }} with docker
        run: ssh ${{ inputs.deploy-host }} "make -C ${{ inputs.deploy-dir }} deploy-service-tag service=${{ inputs.service }} tag=${{ inputs.tag }}"
